body {
  height: 100vh;
  max-width: 1920px;
  font-family: Nunito Sans;
  margin: 0;
  overflow-x: hidden;
}

header {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  background-color: var(--bg_default);
}

header .navbar {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h3 {
  color: var(--brand-primary);
}

.navbar nav button {
  height: 35px;
  width: 120px;
  background: none;
  border: solid 2px var(--lines-color);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  padding: 0;
  cursor: pointer;
}
.dark,
.fav {
  color: var(--body-text);
  border: var(--lines-color);
}

.navbar nav button p {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 80%;
  padding-left: 11px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg_body);
}

.welcoming-section {
  width: 100%;
  background-color: var(--bg_default);
}

.welcoming {
  height: 70%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.welcoming div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcoming div h2,
p {
  width: 30%;
  text-align: left;
  margin: 0;
}
.welcoming div h2 {
  color: var(--brand-secondary);
  font-weight: 700;
}

.welP {
  color: var(--body-text);
}

/* .empty {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
} */
.empty {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: var(--bg_default);
  height: 100px;
  width: 100%;
}
.left-tri {
  width: 100%;
  height: 50px;
  background-color: var(--brand-secondary);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  position: absolute;
}

.right-tri {
  width: 100%;
  height: 50px;
  background-color: var(--brand-primary);
  clip-path: polygon(100% 0, 0 0, 0% 100%);
  position: absolute;
}

/* .right-tri {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 1520px solid var(--brand-secondary);
  border-bottom: 68px solid transparent;
}

.left-tri {
  position: relative;
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 1300px solid var(--brand-primary);
  border-bottom: 68px solid transparent;
} */

.search {
  height: 80px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-section {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--bg_default);
  border: solid 0.5px var(--lines-color);
  border-radius: 10px;
  box-shadow: 0px 0px 1px 0px var(--lines-color);
  color: var(--body-text);
}

.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45%;
  width: 75%;
}
#search {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: large;
  padding-left: 8px;
  background-color: var(--bg_default);
}

.search-section p {
  padding-left: 10px;
  padding-top: 5px;
  width: 2%;
}
.selectors {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 25%;
}
.sort,
.filter {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-left: 5px;
  padding-right: 5px;
  outline: none;
}

.sort {
  border-right: solid 2px var(--lines-color);
  border-left: solid 2px var(--lines-color);
}

.sort label,
.filter label {
  padding-top: 5px;
  padding-left: 5px;
  font-size: small;
  font-weight: 600;
}

#sort,
#filter {
  height: 50%;
  width: 100%;
  border: none;
  font-size: medium;
  padding-bottom: 8px;
  background-color: var(--bg_default);
  color: var(--body-text);
}

.topics {
  width: 90%;
  color: var(--body-text);
}
.topics h1 {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.topics-details {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 35px;
}

.topic {
  width: 100%;
  min-height: 300px;
  background-color: var(--bg_default);
  border-radius: 10px;
}

.topic:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px 2px rgb(0 0 0 / 30%);
  transition: 200ms;
}

button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 30%);
  transition: 200ms;
}

.topic-img {
  height: 45%;
  width: 100%;
  background-color: var(--bg_default);
}

.topic-img img {
  height: 100%;
  width: 100%;
}

.topic-details {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.topic-name {
  height: 55%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.cate,
.name {
  width: 100%;
  margin-top: 0;
}

.cate {
  font-size: 14px;
}

.name {
  margin-bottom: 45px;
}

.topic-review {
  height: 45%;
  width: 90%;
}

.rate {
  height: 50%;
  width: 100%;
  color: goldenrod;
}

.author {
  width: 100%;
  margin-top: 0;
  font-size: small;
  font-weight: 400;
  color: gray;
}

footer {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg_body);
  color: var(--body-text);
}

footer span {
  height: 100%;
  color: var(--heart-color);
}

@media (max-width: 480px) {
  .navbar nav button {
    height: 35px;
    width: 50px;
    padding-left: 0;
  }
  .navbar nav button p {
    padding-left: 0;
    width: 100%;
  }
  .dark p span,
  .fav p span {
    display: none;
  }

  .empty {
    height: 50px;
  }

  .left-tri,
  .right-tri {
    height: 30px;
  }

  .welcoming div h2,
  p {
    width: 85%;
    text-align: left;
    margin: 0;
  }

  .search {
    height: 120px;
    margin-top: 20px;
  }

  .search-section {
    height: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .searchBar {
    height: 50%;
    width: 100%;
    border-bottom: solid 5px (--lines-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .searchBar p {
    padding-left: 5px;
  }

  #search {
    height: 80%;
    padding-left: 20px;
  }
  .selectors {
    height: 50%;
    width: 100%;
    border-top: solid 1px var(--lines-color);
  }

  .sort,
  .filter {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .sort label,
  .filter label {
    height: 30%;
  }

  #filter,
  #sort {
    padding-bottom: 10px;
    height: 70%;
    font-size: large;
    font-weight: 400;
  }

  .topics-details {
    grid-template-columns: repeat(1, 1fr);
  }

  .topic {
    width: 100%;
    height: 300px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .welcoming div h2,
  p {
    width: 85%;
    text-align: left;
    margin: 0;
  }
  .topics-details {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 769px) and (max-width: 1499px) {
  .welcoming div h2,
  p {
    width: 85%;
    text-align: left;
    margin: 0;
  }
  .topics-details {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1500px) {
  .topics-details {
    grid-template-columns: repeat(5, 1fr);
  }
}
